html
  body
    .navbar-wrapper
      .container
        .navbar.navbar-inverse.navbar-static-top
          .container
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
              img.icon(src="/images/img/icon.jpg") 
              a.navbar-brand(href='/index')  Karan Mittal
            .navbar-collapse.collapse
              ul.nav.navbar-nav
                li.active
                  a(href='/index') Home
                li
                  a(href='/recipes') Recipes
                li
                  a(href='/me') About Me

    #myCarousel.carousel.slide
      // Indicators
      ol.carousel-indicators
        li(data-target='#myCarousel', data-slide-to='0')
        li.active(data-target='#myCarousel', data-slide-to='1')
        li(data-target='#myCarousel', data-slide-to='2')
      .carousel-inner
        .item
          img(src='/images/img/bg1.jpg', data-src='holder.js/100%x500/auto/#777:#7a7a7a/text:First slide', alt='First slide')
          .container
            .carousel-caption
              h1 Example headline.
              p
                | 
        .item.active
          img(src='/images/img/bg2.jpg', data-src='holder.js/100%x500/auto/#777:#7a7a7a/text:Second slide', alt='Second slide', style='height: 500px; width: 100%; display: block;')
          .container
            .carousel-caption
              h1 Another example headline.
              p
                | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
              p
                a.btn.btn-large.btn-primary(href='#') Learn more
        .item
          img(src='/images/img/bg1.jpg', data-src='holder.js/100%x500/auto/#777:#7a7a7a/text:Third slide', alt='Third slide', style='height: 500px; width: 100%; display: block;')
          .container
            .carousel-caption
              h1 One more for good measure.
              p
                | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
              p
                a.btn.btn-large.btn-primary(href='#') Browse gallery
      a.left.carousel-control(href='#myCarousel', data-slide='prev')
        span.glyphicon.glyphicon-chevron-left
      a.right.carousel-control(href='#myCarousel', data-slide='next')
        span.glyphicon.glyphicon-chevron-right

    .container.marketing
      // Three columns of text below the carousel
      .row
        .col-lg-4
          img.img-circle(src='/images/food/1.jpg', data-src='holder.js/140x140', alt='140x140', style='width: 140px; height: 140px;')
          h2 Heading
          p
            | Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
          p
            a.btn.btn-default(href='#') View details »
        // /.col-lg-4
        .col-lg-4
          img.img-circle(src='/images/food/2.jpg', data-src='holder.js/140x140', alt='140x140', style='width: 140px; height: 140px;')
          h2 Heading
          p
            | Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
          p
            a.btn.btn-default(href='#') View details »
        // /.col-lg-4
        .col-lg-4
          img.img-circle(src='/images/food/3.jpg', data-src='holder.js/140x140', alt='140x140', style='width: 140px; height: 140px;')
          h2 Heading
          p
            | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
          p
            a.btn.btn-default(href='#') View details »
        // /.col-lg-4
      // /.row
      // START THE FEATURETTES
      hr.featurette-divider
      .row.featurette
        .col-md-7
          h2.featurette-heading
            | COOKING FOOD IS PURE LOVE!! 
            span.text-muted
              span.h2 EVOKING ALL SENSES AND SATISYING ONE'S SOUL 
          p.lead
            | I have always been passionate about food since my childhood and nothing was more fascinating to me than food. I started cooking at the age of 16 . I started off by cooking food for my family and friends. After getting a positive response and request for making the food again and again I decided to pursue this as my career.
            Some Some of my favorite cooking shows are Masterchef Australia and  America's Top chef. One of my favorite chef's is Heston Blumenthal that has motivated me to strive for perfection each time i cooked.
          a.btn.btn-default(href='me') View details »
        .col-md-5
          img.featurette-image.img-responsive(src='/images/img/pp.jpg', data-src='holder.js/500x500/auto', alt='500x500')
      hr.featurette-divider
      .row.featurette
        .col-md-5
          img.featurette-image.img-responsive(src='/images/food/4.jpg', data-src='holder.js/500x500/auto', alt='500x500')
        .col-md-7
          h2.featurette-heading
            | Oh yeah, it's that good.
            span.text-muted See for yourself.
          p.lead
            | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
            a.btn.btn-default(href='#') View details »
      hr.featurette-divider
      .row.featurette
        .col-md-7
          h2.featurette-heading
            | And lastly, this one.
            span.text-muted Checkmate.
          p.lead
            | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
            a.btn.btn-default(href='#') View details »
        .col-md-5
          img.featurette-image.img-responsive(src='/images/food/7.jpg', data-src='holder.js/500x500/auto', alt='500x500')
      hr.featurette-divider
      // /END THE FEATURETTES
      // FOOTER
      footer
        p.pull-right
          a(href='#') Back to top
        p
          | © 2013 Company, Inc. ·
          a(href='#') Privacy
          | ·
          a(href='#') Terms


