html
  body
    .navbar-wrapper
      .container
        .navbar.navbar-inverse.navbar-static-top
          .container
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
              img.icon(src="/images/img/icon.jpg") 
              a.navbar-brand(href='/index')  Karan Mittal
            .navbar-collapse.collapse
              ul.nav.navbar-nav
                li
                  a(href='/index') Home
                li.active
                  a(href='/recipes') Recipes
                li
                  a(href='/me') About Me

    .container.marketing
      <h1>#{data.caption}</h1>
      .row.featurette
        .col-md-6
          img.featurette-image.img-responsive(src=data.src)
        .col-md-6
          h3.featurette-heading.nomargin
            | Ingredients
          ul
            li
              span
              p 1 cup white sugar
            li
              span
              p 1/2 cup butter
            li
              span
              p 2 eggs
            li
              span
              p 1 1/2 cups all-purpose flour
            li
              span
              p 1 3/4 teaspoons baking powder
            li
              span
              p 1/2 cup milk
          
      h3.featurette-heading.nomargin
            | Directions
          ol
            li
              span 01
              p.lead Preheat oven to 350 degrees F (175 degrees C). Grease and flour a 9x9 inch pan or line a muffin pan with paper liners.
            li
              span 02
              p.lead In a medium bowl, cream together the sugar and butter. Beat in the eggs, one at a time, then stir in the vanilla. Combine flour and baking powder, add to the creamed mixture and mix well. Finally stir in the milk until batter is smooth. Pour or spoon batter into the prepared pan.
            li
              span 03
              p.lead Bake for 30 to 40 minutes in the preheated oven. For cupcakes, bake 20 to 25 minutes. Cake is done when it springs back to the touch.
      hr.featurette-divider
      footer
        p.pull-right
          a(href='#') Back to top
        p
          | © 2013 Company, Inc. ·
          a(href='#') Privacy
          | ·
          a(href='#') Terms