!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootsrap.css')
    link(rel='stylesheet', href='/stylesheets/carousel.css')
    link(rel='stylesheet', href='/stylesheets/style1.css')
    script(type="text/javascript" , src="/javascripts/jquery.js")
    script(type="text/javascript" , src="/javascripts/bootstrap.min.js")
    script(type="text/javascript" , src="/javascripts/bootstrap.js")
    script(type="text/javascript" , src="/javascripts/holder.js")
body!= body
