!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style1.css')
    link(rel='stylesheet', href='/stylesheets/carousel.css')
    link(rel='stylesheet', href='/stylesheets/bootsrap.css')
    script(type="text/javascript" , src="/javascripts/jquery.js")
    script(type="text/javascript" , src="/javascripts/self.js")
    script(type="text/javascript" , src="/javascripts/bootstrap.min.js")
    script(type="text/javascript" , src="/javascripts/bootstrap.js")
    //script(type="text/javascript" , src="/javascripts/holder.js")
    //script(type="text/javascript" , src="/javascripts/fancy.js")
    //script(type="text/javascript" , src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js")
    //script(type="text/javascript" , src="http://fancyapps.com/fancybox/source/jquery.fancybox.pack.js?v=2.1.5")
    //link(rel="stylesheet" , href="http://fancyapps.com/fancybox/source/jquery.fancybox.css?v=2.1.5")
    //script(type="text/javascript" , src="/javascripts/masonry-docs.min.js")
    script(type="text/javascript" , src="/javascripts/jquery.isotope.js")
body!= body