html
  body
    .navbar-wrapper
      .container
        .navbar.navbar-inverse.navbar-fixed-top
          .container
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
              img.icon(src="/images/img/icon.jpg") 
              a.navbar-brand(href='/index')  Karan Mittal
            .navbar-collapse.collapse
              ul.nav.navbar-nav
                li
                  a(href='/index') Home
                li
                  a(href='/recipes?type=dessert') Dessert Recipes
                li
                  a(href='/recipes?type=entree') Entree Recipes
                li
                  a(href='/recipes?type=main') Main Course Recipes  
                li.active
                  a(href='/me') About Me

    .container.marketing
      // Three columns of text below the carousel
      .row.featurette(style="padding-top:75px")
        .span8
          h2.lead
            |  COOKING FOOD IS PURE LOVE - PASSION FOR PERFECTION
            span.text-muted  EVOKING ALL SENSES AND SATISYING ONE'S SOUL ....... WHATEVER IT TAKES !!
          p.lead
            | I have always been passionate about food since my childhood and nothing was more fascinating to me than food. I started cooking at the age of 16 . I started off by cooking food for my family and friends. After getting a positive response and request for making the food again and again I decided to pursue this as my career.

            p.lead Some of my favorite cooking shows are Masterchef Australia and  America's Top chef. One of my favorite chef's is Heston Blumenthal that has motivated me to strive for perfection each time i cooked. I keep on researching on food and keep on improving on flavors and techniques. I love to travel different places and enjoy their ethnic cuisine.

            p.lead I joined the <b>S.T.E.P. Program of the Oberoi Group Of Hotels And Resorts</b> . i worked in the kitchen of Trident ,Chennai for 3 years . i consider Chef Jamsheed Bhote as my mentor there who pushed me to improve my skills and taught me in-numerous things. In my training at trident , i worked in all the departments of kitchen such as organising gourmet promotions and single, managing operations of departments. Love for ingredients and passion of cooking is the most important drive for a chef .
            
            p.lead Working in kitchen involves a lot of hard-work but one compliment from a satisfied guest makes you forget all the difficulties and fills your heart with warmth and gives the chef pleasure of working in kitchen : for instance , the aroma of freshly baked bread , the sound of the crust of ciabatta , the touch of beef braised for hours ...
             span.text-muted is just uncomparable...
        .span3(style="margin-top:18px")
          img.featurette-image.img-responsive(src='/images/img/pp.jpg', data-src='holder.js/500x500/auto', alt='500x500')
        .span3(style="margin-top:18px")
          img.featurette-image.img-responsive(src='/images/img/pp.jpg', data-src='holder.js/500x500/auto', alt='500x500')
        .span3(style="margin-top:18px")
          img.featurette-image.img-responsive(src='/images/img/pp.jpg', data-src='holder.js/500x500/auto', alt='500x500')
      hr.featurette-divider
      .row
      //-  .col-lg-2
      //-    img.img-thumbnail(src='/images/img/pp.jpg')
      //-  .col-lg-2
      //-    img.img-thumbnail(src='/images/img/pp.jpg')
        
          // /.col-lg-4
      // /.row
      // START THE FEATURETTES
      // /END THE FEATURETTES
      // FOOTER
      footer
        p.pull-right
          a(href='#') Back to top
        p
          | © 2013 Company, Inc. ·
          a(href='#') Privacy
          | ·
          a(href='#') Terms
  script(type='text/javascript').
    addthis.layers({
      'theme' : 'dark',
      'share' : {
      'position' : 'left',
      'numPreferredServices' : 4
      },
      'follow' : {
      'services' : [
      {'service': 'facebook', 'id': 'chefkaranmittal'},
      {'service': 'twitter', 'id': 'chefkaranmittal'},
      {'service': 'google_follow', 'id': '117032594678034009374'}
      ]
      }
      });