html body {
background: url(/images/img/imgbg.jpg) repeat 0 0 #f8f8f8;
color: #333;
}

footer{
	margin-top: 20px;
}
.carousel-inner {
position: relative;
width: 70% !important;
margin:0 auto !important;
overflow: hidden;
}
.carousel-control.left,.carousel-control.right{
	background: none !important;
}
img.icon{
	height:50px;
	width:50px;
	float: left;
	margin-right: 12px;
}
.carousel {
    margin-bottom: 60px;
    margin-top: 60px !important;
}
{
	background: url(http://subtlepatterns.com/patterns/scribble_light.png) ;
}

#wrapper {
	width: 90%;
	max-width: 1100px;
	min-width: 800px;
}

#columns {
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 3;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 3;
	column-gap: 15px;
	column-fill: auto;
}

/*
.pin{
	overflow: hidden !important;
	 text-overflow:ellipsis !important;
	 max-width: 360px !important;
	 margin-right: 12px;
	display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
	margin-bottom: 12px;
	max-width: 300px;
    margin: 10px;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    border-top: 2px solid rgb(158, 27, 50);
    clear: both;
    padding: 10px;
}
*/
/*
.pin img {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}
*/
.pin p {
	font: 18px Arial, sans-serif;
	color: #777777;
	margin: 0;
	color: rgb(158, 27, 50);
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 18px;
    font-family: 'LeagueGothic','Helvetica',Arial,sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    position:relative;
    top:-5px;
}


a {
    color: rgb(158, 27, 50);
}

a img {
    border: medium none;
}



@media (min-width: 960px) {
	#columns {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}

@media (min-width: 1100px) {
	#columns {
		-webkit-column-count: 5;
		-moz-column-count: 5;
		column-count: 5;
	}
}




ol {
list-style: none;
color: #ccc;
}

ol li {
font: bold 24pt helvetica, arial, sans-serif;
position: relative;
margin-bottom: 20px;
}

ol span {
position: absolute;
line-height: 25px;
}

ol li p {
font: 12pt helvetica, arial, sans-serif;
color: #555;
padding-left: 60px;
}

h2.nomargin{
	margin-top: 15px !important;
}

.filter a.selected {
	background-color: #BB0000;
	color: #FFF;
}


body {
    font-family: Arial;
}



img {
    margin:5px;
}

.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */

    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}



.portfolioFilter a{
 
float: left;
margin-bottom: 0.2em;
display: block;
padding: 0.6em 0.9em;
background-color: #DDD;
color: #222;
font-weight: bold;
text-shadow: 0 1px hsla( 0, 0%, 100%, 0.5 );
background-image: -webkit-linear-gradient( top, hsla( 0, 0%, 100%, 0.5 ), hsla( 0, 0%, 100%, 0.0 ) );
background-image: -moz-linear-gradient( top, hsla( 0, 0%, 100%, 0.5 ), hsla( 0, 0%, 100%, 0.0 ) );
background-image: -ms-linear-gradient( top, hsla( 0, 0%, 100%, 0.5 ), hsla( 0, 0%, 100%, 0.0 ) );
background-image: -o-linear-gradient( top, hsla( 0, 0%, 100%, 0.5 ), hsla( 0, 0%, 100%, 0.0 ) );
background-image: linear-gradient( top, hsla( 0, 0%, 100%, 0.5 ), hsla( 0, 0%, 100%, 0.0 ) );
border-left: 1px solid hsla( 0, 0%, 100%, 0.3 );
border-right: 1px solid hsla( 0, 0%, 0%, 0.2 );
}

.portfolioFilter li:first-child a{
border-radius: 7px 0 0 7px;
border-left: none;
}
.portfolioFilter li:last-child a {
border-radius: 0 7px 7px 0;
}


.portfolioFilter a.current {
background-color: #13F;
text-shadow: none;
color: white;
}

.portfolioFilter li {
display: list-item;
text-align: -webkit-match-parent;
list-style: none;

}

/*
.portfolioFilter h2, .portfolioFilter h4 {
    line-height: 34px;
    margin-bottom: 0px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: top;
}

.portfolioFilter a.selected {
    text-shadow: none;
    color: white;
    background-color: rgb(17, 51, 255);
}
.portfolioFilter a {
    border-radius: 7px 0px 0px 7px;
    border-left: medium none;
}
.portfolioFilter a:hover {
    background-color: rgb(85, 187, 255);
}
.portfolioFilter a {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.portfolioFilter a {
    display: block;
    padding: 0.4em 0.5em;
    background-color: rgb(221, 221, 221);
    color: rgb(34, 34, 34);
    font-weight: bold;
    text-shadow: 0px 1px rgba(255, 255, 255, 0.5);
    background-image: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
}*/

.carousel-inner .carousel .item {
	background-color: none !important;
}

.container h1{
	text-overflow:ellipsis;
	display:block;
	overflow:hidden;
	white-space:nowrap; 
	font-size:24px;
	padding: 0px !important;
}

.featurette-heading {
margin-top: 0px !important; 
}
.featurette-divider {
    clear: both;
    <strong>margin: 0;</strong>
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	background: none !important;
background-color: none !important;
}
.img-responsive {
width:100%;
}


h2, .h2 {
font-size: 30px !important;
}
h1, h2, h3 {
margin-top: 20px !important;
margin-bottom: 10px !important;

}

.marketing{
margin-top:60px;
}

@media (min-width: 500px && max-width: 1000px)
.col-lg-4 {
width: 33.33333333333333%;
}
